body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
}

main {
    max-width: 600px;
    margin: 20px;
}

#todoList, #addTodoForm {
    margin-bottom: 20px;
}

form {
    display: flex;
    gap: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
